@font-face {
	font-family: "tb-icon";
	src: url('../fonts/tb-icon/tb-icon.eot');
	src: url('../fonts/tb-icon/tb-icon.eot?#iefix') format('eot'),
		url('../fonts/tb-icon/tb-icon.woff2') format('woff2'),
		url('../fonts/tb-icon/tb-icon.woff') format('woff'),
		url('../fonts/tb-icon/tb-icon.ttf') format('truetype'),
		url('../fonts/tb-icon/tb-icon.svg#tb-icon') format('svg');
}

.tb-icon:before {
	font-family: "tb-icon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.tb-icon-00-star:before {
	content: "\E001";
}

.tb-icon-arrow-bottom:before {
	content: "\E002";
}

.tb-icon-arrow-left:before {
	content: "\E003";
}

.tb-icon-arrow-right:before {
	content: "\E004";
}

.tb-icon-arrow-top:before {
	content: "\E005";
}

.tb-icon-bubbles:before {
	content: "\E006";
}

.tb-icon-calendar-31:before {
	content: "\E007";
}

.tb-icon-cart-empty:before {
	content: "\E008";
}

.tb-icon-cart-full:before {
	content: "\E009";
}

.tb-icon-cart-plus:before {
	content: "\E00A";
}

.tb-icon-cart:before {
	content: "\E00B";
}

.tb-icon-check:before {
	content: "\E00C";
}

.tb-icon-chevron-down:before {
	content: "\E00D";
}

.tb-icon-chevron-left:before {
	content: "\E00E";
}

.tb-icon-chevron-right:before {
	content: "\E00F";
}

.tb-icon-chevron-up:before {
	content: "\E010";
}

.tb-icon-clapboard-play:before {
	content: "\E011";
}

.tb-icon-cog:before {
	content: "\E012";
}

.tb-icon-cross:before {
	content: "\E013";
}

.tb-icon-cross2:before {
	content: "\E014";
}

.tb-icon-cube:before {
	content: "\E015";
}

.tb-icon-document:before {
	content: "\E016";
}

.tb-icon-envelope-open:before {
	content: "\E017";
}

.tb-icon-envelope:before {
	content: "\E018";
}

.tb-icon-equalizer:before {
	content: "\E019";
}

.tb-icon-eye:before {
	content: "\E01A";
}

.tb-icon-heart:before {
	content: "\E01B";
}

.tb-icon-history:before {
	content: "\E01C";
}

.tb-icon-home3:before {
	content: "\E01D";
}

.tb-icon-loading:before {
	content: "\E01E";
}

.tb-icon-loupe:before {
	content: "\E01F";
}

.tb-icon-magnifier:before {
	content: "\E020";
}

.tb-icon-menu:before {
	content: "\E021";
}

.tb-icon-minus-square:before {
	content: "\E022";
}

.tb-icon-minus:before {
	content: "\E023";
}

.tb-icon-music-note2:before {
	content: "\E024";
}

.tb-icon-pencil3:before {
	content: "\E025";
}

.tb-icon-pencil4:before {
	content: "\E026";
}

.tb-icon-picture2:before {
	content: "\E027";
}

.tb-icon-pictures:before {
	content: "\E028";
}

.tb-icon-play-circle:before {
	content: "\E029";
}

.tb-icon-plus-square:before {
	content: "\E02A";
}

.tb-icon-plus:before {
	content: "\E02B";
}

.tb-icon-pushpin:before {
	content: "\E02C";
}

.tb-icon-question-circle:before {
	content: "\E02D";
}

.tb-icon-redo2:before {
	content: "\E02E";
}

.tb-icon-reply:before {
	content: "\E02F";
}

.tb-icon-square:before {
	content: "\E030";
}

.tb-icon-sync:before {
	content: "\E031";
}

.tb-icon-tab:before {
	content: "\E032";
}

.tb-icon-tag:before {
	content: "\E033";
}

.tb-icon-telephone:before {
	content: "\E034";
}

.tb-icon-text-align-right:before {
	content: "\E035";
}

.tb-icon-trash:before {
	content: "\E036";
}

.tb-icon-trash2:before {
	content: "\E037";
}

.tb-icon-upload2:before {
	content: "\E038";
}

.tb-icon-user:before {
	content: "\E039";
}

.tb-icon-wallet:before {
	content: "\E03A";
}

.tb-icon-zoom-in:before {
	content: "\E03B";
}
