.overlay {
  position: absolute; 
  bottom: 30%;
  left: 28%; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 50%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 6px;
  text-align: center;
}

.img{
  display: block;
  width: 100%;
  height: auto;
}
.container:hover .overlay {
  opacity: 1;
}
.other {
  position: absolute; 
  bottom: 30%;
  left: 17%; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 50%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 6px;
  text-align: center;
}
.container:hover .other {
  opacity: 1;
}
